<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Framework" type="Cheke.Configuration.ConfigurationHandler,Cheke.Configuration"/>
  </configSections>

  <Framework type="Cheke.Configuration.ConfigurationManager,Cheke.Configuration">
    <ClassFactory>
      <Class name="SysLog" type="Apps.Log4Net.LogUtility, Apps.Log4Net" />

      <Class name="UpdateServiceFactory" type="AppsUpdate.IUpdateService.ICompressionDownloadService, AppsUpdate.IUpdateService"
       location="http://local.chekeit.com/update/CompressionDownloadService.soap"/>
      
    </ClassFactory>
  </Framework>
  
  <system.runtime.remoting>
    <application>

      <channels>
        <channel ref="tcp" port="31000">
          <serverProviders>
            <formatter ref="binary"/>
          </serverProviders>
        </channel>
      </channels>

      <service>
        <wellknown mode="SingleCall" type="AppsUpdate.UpdateService.CompressionDownloadService, AppsUpdate.UpdateService"
           objectUri="CompressionDownloadService.soap"/>
      </service>

    </application>
  </system.runtime.remoting>

  <appSettings>
    <add key="W3000.RemotingService" value="" />
    <add key="W3000.ExcelService" value="" />
    <add key="W3000.WatchService" value="" />
  </appSettings>
  
</configuration>