<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Framework" type="Cheke.Configuration.ConfigurationHandler,Cheke.Configuration"/>
  </configSections>
  <Framework type="Cheke.Configuration.ConfigurationManager,Cheke.Configuration">
    <ClassFactory>
      <Class name="SysLog" type="Apps.Log4Net.LogUtility, Apps.Log4Net" />
      <Class name="Permission" type="W3000.Permission.Permission, W3000.Permission" />
      <Class name="DBEditLog" type="W3000.DBLog.DBEditLog, W3000.DBLog" />

      <Class name="UpdateServiceFactory" type="AppsUpdate.IUpdateService.ICompressionDownloadService, AppsUpdate.IUpdateService"
       location="tcp://localhost:31000/CompressionDownloadService.soap"/>

      <Class name="W3000.BasicServiceFactory" type="W3000.BasicService.BasicServiceFactory, W3000.BasicService"/>
      <Class name="W3000.FacadeServiceFactory" type="W3000.FacadeService.FacadeServiceFactory, W3000.FacadeService"/>
      
      <Class name="ExcelServiceFactory" type="Cheke.IExcelService.IExcelServiceFactory, Cheke.IExcelService"
          location="tcp://localhost:31030/ExcelServiceFactory.soap"/>
      
    </ClassFactory>
  </Framework>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp">
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <appSettings>
    <add key="DB:W3000" value="Server=localhost\SQLEXPRESS; Database=W3000; Connect Timeout=300; Max Pool Size=10; Min Pool Size=1; UID=W3000; Pwd=" />
  </appSettings>
  
</configuration>